.contact-me-conatiner {
   background-image: linear-gradient(45deg,
       hsl(240deg 100% 20%) 0%,
       hsl(289deg 100% 21%) 11%,
       hsl(315deg 100% 27%) 22%,
       hsl(329deg 100% 36%) 33%,
       hsl(337deg 100% 43%) 44%,
       hsl(357deg 91% 59%) 56%,
       hsl(17deg 100% 59%) 67%,
       hsl(34deg 100% 53%) 78%,
       hsl(45deg 100% 50%) 89%,
       hsl(55deg 100% 50%) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'assistant', sans-serif;
    margin: 0;
    padding: 0;
}

.contact-me-title {
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.contact-me-form-card {
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 1rem;
}

.contact-me-hr {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.send-email-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.send-email-button {
    appearance: button;
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    text-align: center;
    height: 2.5rem;
    width: 10rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.contact-me-max-characters-display {
    position: absolute;
    bottom: 15.2rem;
    padding-left: 1rem;
} 

