 @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'assistant', sans-serif;
    height: 100vh;
    background: linear-gradient(283deg, #162545, #cb26ba);
}

.title-home{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.desc-home{
    color: #1172c4;
    font-size: 1.2rem;
    text-align: center;
}


.home-nav{
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}

.home-nav-link{
    text-decoration: none;
    color: #fff;
}

.home-nav-link:hover{
    color: #fff;
}

.home-nav-link:visited{
    color: #fff;
}